[submodule "meta/dotbot"]
	path = meta/dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "terminals/.tmux"]
	path = terminals/.tmux
	url = https://github.com/gpakosz/.tmux.git
[submodule "terminals/tmux"]
	path = terminals/tmux
	url = https://github.com/gpakosz/.tmux.git
