[submodule "terminals/tpm"]
	path = terminals/tpm
	url = git@github.com:tmux-plugins/tpm.git
[submodule "applications/nvim/pack/general/opt/vim-tmux-navigator"]
	path = applications/nvim/pack/general/opt/vim-tmux-navigator
	url = git@github.com:christoomey/vim-tmux-navigator.git
[submodule "applications/nvim/pack/ui/start/NeoSolarized"]
	path = applications/nvim/pack/ui/start/NeoSolarized
	url = git@github.com:icymind/NeoSolarized.git
[submodule "applications/nvim/pack/ui/start/vim-airline"]
	path = applications/nvim/pack/ui/start/vim-airline
	url = git@github.com:vim-airline/vim-airline.git
[submodule "applications/nvim/pack/ui/start/vim-airline-themes"]
	path = applications/nvim/pack/ui/start/vim-airline-themes
	url = git@github.com:vim-airline/vim-airline-themes.git
[submodule "applications/nvim/pack/ui/start/vim-indent-guides"]
	path = applications/nvim/pack/ui/start/vim-indent-guides
	url = git@github.com:nathanaelkane/vim-indent-guides.git
[submodule "applications/nvim/pack/ui/start/denite"]
	path = applications/nvim/pack/ui/start/denite
	url = git@github.com:Shougo/denite.nvim.git
[submodule "applications/nvim/pack/ui/start/unite-location"]
	path = applications/nvim/pack/ui/start/unite-location
	url = git@github.com:chemzqm/unite-location.git
[submodule "applications/nvim/pack/textobj/start/vim-textobj-user"]
	path = applications/nvim/pack/textobj/start/vim-textobj-user
	url = git@github.com:kana/vim-textobj-user.git
[submodule "applications/nvim/pack/textobj/start/vim-textobj-variable-segment"]
	path = applications/nvim/pack/textobj/start/vim-textobj-variable-segment
	url = git@github.com:Julian/vim-textobj-variable-segment.git
[submodule "applications/nvim/pack/textobj/start/vim-textobj-parameter"]
	path = applications/nvim/pack/textobj/start/vim-textobj-parameter
	url = git@github.com:sgur/vim-textobj-parameter.git
[submodule "applications/nvim/pack/textobj/start/vim-textobj-entire"]
	path = applications/nvim/pack/textobj/start/vim-textobj-entire
	url = git@github.com:kana/vim-textobj-entire.git
[submodule "applications/nvim/pack/textobj/opt/vim-textobj-function"]
	path = applications/nvim/pack/textobj/opt/vim-textobj-function
	url = git@github.com:kana/vim-textobj-function.git
[submodule "applications/nvim/pack/textobj/start/vim-textobj-comment"]
	path = applications/nvim/pack/textobj/start/vim-textobj-comment
	url = git@github.com:glts/vim-textobj-comment.git
[submodule "applications/nvim/pack/textobj/opt/vim-textobj-python"]
	path = applications/nvim/pack/textobj/opt/vim-textobj-python
	url = git@github.com:bps/vim-textobj-python.git
[submodule "applications/nvim/pack/textobj/start/vim-operator-user"]
	path = applications/nvim/pack/textobj/start/vim-operator-user
	url = git@github.com:kana/vim-operator-user.git
[submodule "applications/nvim/pack/textobj/start/vim-operator-replace"]
	path = applications/nvim/pack/textobj/start/vim-operator-replace
	url = git@github.com:kana/vim-operator-replace.git
[submodule "applications/nvim/pack/textobj/start/vim-operator-surround"]
	path = applications/nvim/pack/textobj/start/vim-operator-surround
	url = git@github.com:rhysd/vim-operator-surround.git
[submodule "applications/nvim/pack/general/start/clever-f"]
	path = applications/nvim/pack/general/start/clever-f
	url = git@github.com:rhysd/clever-f.vim.git
[submodule "applications/nvim/pack/general/start/vim-sneak"]
	path = applications/nvim/pack/general/start/vim-sneak
	url = git@github.com:justinmk/vim-sneak.git
[submodule "applications/nvim/pack/general/start/vim-slash"]
	path = applications/nvim/pack/general/start/vim-slash
	url = git@github.com:junegunn/vim-slash.git
